
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-image: url(./img/castelmezzano-19795461.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 51px 104px;
    max-width: 1440px;
    margin: 0 auto;
}
.menu-header{
    display: flex;
    justify-content: space-between;
}
.header-nav-list{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.nav-icon-menu {
    display: none;
    background-image: url(./img/menu1.svg);
    width: 24px;
    height: 16px;
    margin-left: 16px;
}
.header-nav-list li a {
    padding-left: 24px;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}
.nav-icon-night {
    margin-left: 48px;
    background-image: url(./img/Night.svg);
    width: 31px;
    height: 31px;
}
.nav-icon-account {
    margin-left: 24px;
    background-image: url(./img/AccountCircle.svg);
    width: 40px;
    height: 40px;
}
.line-nav1, .line-nav2 {
    position: relative;
}
.line-nav1::after {
    content: "";
    width: 50px;
    height: 4px;
    border: 0px;
    background-color: #f5bd41;
    position: absolute;
    display: block;
    top: 42px;
    left: 33%;
}
.line-nav2:hover ::after {
    content: "";
    width: 100px;
    height: 4px;
    border: 0px;
    background-color: #f5bd41;
    position: absolute;
    display: block;
    top: 42px;
    left: 21%;
}
.nav-icon-account:hover {
    background-image: url(./img/AccountCircleyellow.svg);  
}
.burger {
    display: none;
}
.heading {
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    margin: 202px 0;
    width: 542px;
    margin-bottom: 100px;
}
.container--form {
    max-width: 1232px;
    height: 64px;
    background: #ffffff;
    border: 3px solid #f3f3f4;
    border-radius: 8px;
    margin-bottom: 120px;
  }
  
  .row--form {
    display: flex;
    justify-content: flex-start;
    position: relative;
  }
  
  input {
    height: 57px;
    border: none;
    border-radius: 8px;
    padding-left: 24px;
    font-size: 18px;
  }
  
  .input--place--wrap {
    position: relative;
    width: 36%;
  }
  
  .col--place {
    width: 100%;
  }
  
  label {
    position: absolute;
    pointer-events: none;
    color: #383838;
    font-size: 18px;
    transition: 0.2s ease all;
  }
  
  input:focus ~ .label--place,
  input:not(:focus):valid ~ .label--place {
    top: -48px;
    left: 24px;
    color: #ffffff;
    opacity: 1;
  }
  
  .label--place {
    left: 24px;
    top: 20px;
  }
  
  .input--date--wrap {
    display: flex;
    width: 22%;
    border: 3px solid #f5bd41;
    border-radius: 8px;
    margin-top: -3px;
  }
  
  .label--date--wrap-first {
    width: 50%;
    position: relative;
  }
  
  .label--date--wrap-second {
    width: 50%;
    position: relative;
  }
  
  .col--date {
    width: 100%;
  }
  
  input:focus ~ .label--date--first,
  input:not(:focus):valid ~ .label--date--first {
    top: -48px;
    left: 24px;
    color: #ffffff;
    opacity: 1;
  }
  
  .label--date--first {
    left: 24px;
    top: 20px;
  }
  
  input:focus ~ .label--date--second,
  input:not(:focus):valid ~ .label--date--second {
    top: -48px;
    left: 24px;
    color: #ffffff;
    opacity: 1;
  }
  
  .label--date--second {
    left: 24px;
    top: 20px;
  }
  
  input[type="date" i] {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-inline-start: 24px;
  }
  
  .col--guests {
    width: 27%;
  }
  
  input:focus ~ .label--quests,
  input:not(:focus):valid ~ .label--quests {
    top: -48px;
    left: 713px;
    color: #ffffff;
    opacity: 1;
  }
  
  .label--quests {
    left: 60%;
    top: 20px;
  }
  
  button {
    background: #3077c6;
    border-radius: 8px;
    border: none;
    margin-block-start: -3px;
    margin-inline-end: -3px;
  }
  
  .col--button {
    width: 16.6%;
    height: 64px;
  }
  
  .button__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
  }

  @media (max-width: 1232px) {
      .burger {
          display: block;
          width: 24px;
          height: 16px;
          margin-left: 16px;
      }
      .nav-icon-account:hover {
          display: none;
      }
  .container--form {
    height: 232px;
    background: #f5bd41;
    border: 0px;
    border-radius: 0px;
    margin-bottom: 60px;
    padding: 8px;
  }
  .col-md-12 {
    width: 100%;
  }

  .row--form {
    display: block;
    margin-block-start: 0px;
  }

  input {
    height: 48px;
    border-radius: 4px;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    padding-top: 24px;
    padding-left: 36px;
    color: #383838;
  }

  label {
    font-size: 12px;
  }

  .input--place--wrap {
    width: 100%;
  }

  .input--place--wrap::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 8px;
    width: 16px;
    height: 16px;
    background: url("./img/search.svg");
  }

  input:focus ~ .label--place,
  input:not(:focus):valid ~ .label--place {
    top: 6px;
    left: 36px;
    font-size: 12px;
    color: #383838;
    opacity: 1;
  }

  .label--place {
    left: 36px;
    top: 15px;
    font-size: 15px;
    font-weight: 500;
  }

  .input--date--wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
  }

  .label--date--wrap-first {
    width: 49%;
  }

  .label--date--wrap-second {
    width: 49%;
  }

  input[type="date" i] {
    align-items: center;
    display: inline-flex;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding-inline-start: 8px;
    border: 0px;
  }

  input:focus ~ .label--date--first,
  input:not(:focus):valid ~ .label--date--first {
    top: 6px;
    left: 36px;
    font-size: 12px;
    color: #383838;
    opacity: 1;
  }

  .label--date--first {
    left: 36px;
    top: 15px;
    font-size: 15px;
    font-weight: 500;
  }

  input:focus ~ .label--date--second,
  input:not(:focus):valid ~ .label--date--second {
    top: 6px;
    left: 36px;
    font-size: 12px;
    color: #383838;
    opacity: 1;
  }

  .label--date--second {
    left: 36px;
    top: 15px;
    font-size: 15px;
    font-weight: 500;
  }

  input:focus ~ .label--quests,
  input:not(:focus):valid ~ .label--quests {
    top: 115px;
    left: 36px;
    font-size: 12px;
    color: #383838;
    opacity: 1;
  }

  .label--quests {
    left: 36px;
    top: 124px;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
  }

  button {
    border-radius: 4px;
    margin-block-start: 0px;
  }

  .col--button {
    height: 48px;
    width: 100%;
  }

  .button__text {
    font-size: 19px;
  }
}
.logo-ctores {
    margin: 120px auto;
    text-align: center;
}
@media (max-width: 360px){
    .header {
        padding: 12px
    }
    .line-nav1,.line-nav2 {
        display: none;
    }
    .logo-header img {
        width: 121px;
        height: 24px;
    }
    .nav-icon-menu {
        display: block;
    }
    .nav-icon-night {
        background-image: url(./img/Nightsmall.svg);
        width: 16px;
        height: 16px;
    }
    .nav-icon-account {
        background-image: url(./img/AccountCirclesmall.svg);
        width: 24px;
        height: 24px;
    }
    .heading {
        font-size: 30px;
        margin-top: 52px;
        width: 328px;
        line-height: 35,16px;
    }
    .hotel-name-text, .hotel-date, .real-time {
        display: none;
    }
    #mobile-hotel-name {
        width: 312px;
        height: 48px;
        border: 4px solid #F5BD41;
        text-align: center;
    }
    #check-in-date, #check-out-date {
        width: 156px;
        height: 48px;
        border: 4px solid #F5BD41;
        text-align: center;
        margin: auto;
        margin-right: -4px;
    }
    #adults, #children, #rooms {
        width: 104px;
        height: 48px;
        border: 4px solid #F5BD41;
        text-align: center;
        margin-right: -4px;
    }
    .mobile-button-search {
        width: 312px;
        height: 48px;
        border: 4px solid #F5BD41;
        background-color: #3077C6;
        font-size: 19px;
        color: #fff;
        margin-bottom: 0px;
    }
    .logo-ctores {
        margin-bottom: 40px;
        margin-top: 40px;
    }
}
@media (min-width: 361px){
    .mobile-time {
        display: none;
    }
}
.contanier-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    padding: 120px 138px 0px 181px;
}
.wrapper h2 {
    font-weight: 500;
    font-style: normal;
    font-size: 40px; 
    padding-bottom: 112px;
    position: relative;
    
}
.wrapper h2:hover::after{
    content: "";
    width: 100px;
    height: 4px;
    border: 0px;
    background-color: #f5bd41;
    position: absolute;
    top: 70px;
    left: 46%;
}
.wrapper-offer{
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 14%;
}
.wrapper-item img {
    width: 83.33px;
    height: 83.33px;
}
.wrapper-item p {
    font-style: normal;
    padding-top: 52.17px;
    padding-bottom: 122px;
    font-size: 24px;
    line-height: 28.13px;
    font-weight: 400;
    color: #383838;
}



.home {
    max-width: 1440px;
    padding: 120px 104px;
    background-color: #EAF0F9;
    align-content: center;
    margin: 0 auto;
}
h3 {
    text-align: center;
    font-size: 40px;
    color: #383838;
    font-style: normal;
    font-weight: 500;
    line-height: 47px;
    margin-bottom: 105px;
}
.container-home {
    display: flex;
    justify-content: space-around;
    position: relative;
}
.image img {
    width: 296px;
    height: 296px;
    padding-bottom: 24px;
}
.picture-link {
    padding-bottom: 24px;
}
.picture-link a {
    text-decoration: none;
    text-align: left;
    font-size: 24px;
    line-height: 28,13px;
    font-weight: 400;
    color: #3077C6;
}
.image p {
    font-size: 24px;
    font-weight: 400;
    line-height: 28,13px;
    color: #bfbfbf;
    margin-left: 10px;
}
.hostel::after{
    content: url(./img/arrow.svg);
    position: relative;
    left: 265px;
    bottom: 270px;
}

@media (max-width: 1179px) {
    .container-home {
        display: flex;
        flex-wrap: wrap;
    }
    .image p:nth-of-type(2){
        margin-bottom: 20px;
    }
    .arrow {
        display: none;
    }
}
@media (max-width: 360px) {
    .home {
        padding: 40px 17px 0 17px;
    }
    h3 {
        font-size: 28px;
        line-height: 32,81px;
        margin-bottom: 32px;
    }
    .image img {
        max-width: 150px;
        max-height: 150px;
        padding-bottom: 8px;
    }
    .picture-link {
        padding-bottom: 4px;
    }
    .picture-link a {
        font-size: 12px;
        line-height: 14,06px;
        
    }
    .image p {
        font-size: 12px;
        line-height: 14,06px;
    }
    .villa, .hostel {
        display: none;
    }
    .container-home:nth-child(2)::after {
        content: url(./img/arrowsmall.svg);
        position: relative;
        left: 150px;
        bottom: 160px;
    }
}

footer {
    max-width: 1440px;
    background: #10367c;
    margin: 0 auto;
    padding: 120px 272px 0 104px;
}
.wrapper-footer-list{
    display: flex;
    justify-content: space-around;
    margin-bottom: 64px;
    text-align: left;
}
.wrapper-footer-list ul{
    list-style-type: none;
}
.wrapper-footer-list ul li{
    margin-bottom: 24px;
}
.wrapper-footer-list ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
.wrapper-footer-list ul li span {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    line-height: 23px;
}
.footer-date{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 120px;
}
.footer-mobile {
    display: none;
}
@media (max-width: 1179px) {
    footer {
        padding: 100px 200px 0 80px;
    }
    .wrapper-footer-list ul li a {
        font-size: 16px;
    }
    .wrapper-footer-list ul li span {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width: 360px) and (min-width: 361px){
.wrapper {
    padding: 24px 73px;
    }
.wrapper-line {
    display: none;
}
.wrapper, .wrapper-offer {
    display: flex;
    flex-direction: column;
    }
.wrapper h2{
    font-size: 28px;
    color: #383838;
    margin-bottom: 35px;
    }
.wrapper-item img {
    display: block;
    margin: 0px auto;
    text-align: center;
    width: 52px;
    height: 64px;
    }
.wrapper-item p{
    font-size: 15px;
    color: #383838;
    margin-top: 35px;
    padding-top: 19px;
    }
.wrapper-footer-list{
    display: none;
    }
.wrapper-footer-list {
    display: none;
}
footer {
    padding: 40px 67px 0px 67px;
}
.footer-mobile {
    display: block;
}
.footer-mobile-img {
    text-align: center;
    margin-bottom: 40px;
}
.footer-mobile ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 32px;
}
.footer-mobile ul li a {
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    line-height: 17.58px;
}
.footer-date {
    font-size: 12px;
    line-height: 14.06px;
    text-align: center;
    padding-bottom: 40px;
}
}